.page-footer {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    .credit-footer {
        display: flex;
        justify-content: center;
        bottom: 0;
        flex-flow: row;
        padding-top: 1rem;
        height: 7rem;
    }
    hr {
        border: none;
        height: 1px;
        width: 80%;
        background: linear-gradient(90deg, transparent 0%, rgb(var(--clr-p)) 50%, transparent 100%);
    }
}
@media all and (max-width: 42rem) {
    .page-footer .credit-footer {
        flex-flow: column;
        height: 5rem;
        >* {
            text-align: center;
            padding: 0 0;
            margin: 0;
        }
    }
}